{% extends 'inc/admin_layout.twig' %}
{% block body %}
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Values</th>
            <th>&nbsp;</th>
        </tr>
    {% for data in potentials %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.potentials|join(', ') }}</td>
            <td>
                <a class="btn btn-default" href="/admin/potential/edit/{{ data.id }}">Edit</a>
                <a class="btn btn-danger" href="/admin/potential/delete/{{ data.id }}" onclick="if (!confirm('Are you sure?')){return false;}">Delete</a>
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3"><a class="btn btn-default" href="/admin/potential/add">Add another</a></td>
        </tr>
    </table>
{% endblock %}